{% load static %}
{% comment %}푸터{% endcomment %}
<footer class="site-footer">
  <div class="footer-inner">
    <div class="footer-brand">
      <h3>Handon<em>Today.</em></h3>
      <p>국내와 해외 양돈 매체의 흐름을 매일 정리합니다.<br>농가와 업계가 알아야 할 단 하나의 뉴스레터.</p>
    </div>
    <div class="footer-col">
      <h5>섹션</h5>
      <a href="{% url 'articles:home' %}?cat=국내">국내</a>
      <a href="{% url 'articles:home' %}?cat=글로벌">글로벌</a>
    </div>
    <div class="footer-col">
      <h5>회사</h5>
      <a href="https://www.farmslink.net/" target="_blank">소개</a>
      <a href="mailto:business@handontoday.com">광고 · 제휴 문의</a>
    </div>
  </div>
  <div class="footer-bottom">
    <span>© {% now "Y" %} HANDON TODAY · ALL RIGHTS RESERVED</span>
    <span>SEOUL · KOREA · v2.0</span>
  </div>
</footer>
